# Business Problem
How to split mulitple rows into separate rows by reading the new line from each cell. The code below splits the excel cell into different rows as per the given data. 

How to split multiple rows/lines in one cell to multiple cells:
Notes:
Step1. Convert datetime into string

In [188]:
# Uploading Libraries
import pandas as pd
import numpy as np
import string as str

# Uploading data
df = pd.read_excel("G:/My Drive/Ashish/Upwork Projects/2022/North America/USA/We Scope/Rev_Analysis_1.xlsx")

In [189]:
# Step1
df['Date Received'] = df['Date Received'].dt.strftime('%Y-%m-%d')

In [190]:
# Adding the column to the data after applying the lambda function. In this case the lambda function is helping us strip the columns and fill space in the cells with Blanks

df2 = df[['Client', 'CompletedBy', 'Insurance Carrier', 'Notes', 'Managed Repair Program',
       'Date Received', 'Job','Revision Type', 'Task Type',
       'unique id']].apply(lambda x: x.str.strip()).fillna('Blank')

# df2.to_csv('G:/My Drive/Ashish/Upwork Projects/2022/North America/USA/We Scope/Rev_Analysis_ORG_print1.csv')

In [191]:
# Step 2

res = df2.set_index(['Client', 'CompletedBy', 'Insurance Carrier', 'Managed Repair Program',
       'Date Received', 'Job','Revision Type', 'Task Type',
       'unique id']).apply(lambda x: x.str.split('\n').explode()).reset_index()
res.to_csv('G:/My Drive/Ashish/Upwork Projects/2022/North America/USA/We Scope/am_expo_d.csv')

In [192]:
data_clean = res[(res['Notes'] == 'REV') | (res['Notes'] == '')].index
res.drop(data_clean,inplace=True)
res['Notes'] = res['Notes'].str.replace('[-,=]', '')

C:\Users\ashis\AppData\Local\Temp\ipykernel_14668\57253793.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  res['Notes'] = res['Notes'].str.replace('[-,=]', '')

In [81]:
# res['new'] = res['Notes'].str.contains('Photo',False,regex=True)
# res[res['Notes'].str.contains('\d+')]

In [193]:
res['new'] = res['Notes'].str.isnumeric()

# res.drop(data_clean,inplace=False)
# res.to_csv('G:/My Drive/Ashish/Upwork Projects/2022/North America/USA/We Scope/Rev_Analysis_ORG_AM1.csv')

In [187]:
# df["Notes"].str.split('\n',expand=True)
res.to_csv('G:/My Drive/Ashish/Upwork Projects/2022/North America/USA/We Scope/am_expo44.csv')

In [104]:
# df.to_csv("G:/My Drive/Ashish/Upwork Projects/2022/North America/USA/We Scope/df.csv")

# df[['key.0','key.1','key.2']] = df['The Data'].str.split(',', expand=True)
# df.drop(columns=['The Data'], inplace = True)
# stop here if you want the data to be split into new columns

In [58]:
res['Notes'].str.contains("Upload",False,regex=True)

2        False
4        False
6        False
8        False
10       False
         ...
50217     True
50219    False
50221    False
50223    False
50225    False
Name: Notes, Length: 33085, dtype: bool

In [128]:
# df['Notes'].str.contains('Upload',False,regex=True)
# df["Notes"].str.split('\n',expand=True)
# For creating column refer - https://www.geeksforgeeks.org/add-column-names-to-dataframe-in-pandas/

In [16]:
text = df["Notes"]

In [18]:
print(text)

0       REV\n\n1) Program instructions require photos ...
1       REV\n\nClient Sergio - Frank please address th...
2       REV\n\n1. Please upload work auth.\n2. Please ...
3       REV\n\n12. Line item 47 WTR EQ: revise qty to ...
4       REV\n\n1. Price Deviations Exist. Please Revis...
                              ...
4656    Carrier - XA\n\nHi Gustavo,\n\nMember found su...
4657    Client Curtis - *SLA - due 11/8/22 @ 2:00pm* P...
4658    SYM - \n2. Please add name of CRS who approved...
4659    MICA report with completion date has been uplo...
4660                                                  NaN
Name: Notes, Length: 4661, dtype: object

In [69]:
import re

In [82]:
def ashish_fun(text):
    my_text =""
    text = text.replace('\n',"")
    text = text.replace('REV',"")
    split_text = text.split(".")  # ['I', 'need', 'practice']
    for line in split_text:
        if "photo" in line:
            my_text = my_text + line + ","
    return my_text
df["Notes_1"]=df['Notes'].apply(lambda text: ashish_fun(str(text)))

In [83]:
df["Notes_1"][0]

'1) Program instructions require photos showing what the contractor observed to be the cause of damage, Please provide/label required photos,2) Lines 1, 3 and 35: scope/quantities included unclear based on photos and information provided,'

In [14]:
my_text = '1.Photos and/or documentation appear to support that line items written at PF dimensions have not been deducted by LF of doors, showers/tubs, vanities, cabinets, built-ins/bookcases, etc. Please revise accordingly.\n\n2.Program instructions state, photos in each room listed in the estimate should be taken from corner to corner.  Please provide required photos.  If the required situational parameters are met (per 2/1/21 network communication), YouGoLook (YGL) is an approved option for obtaining the photo(s) without having to return to the loss site. To set up an account, please go to tinyurl.com/8bxii7xv. For more information on the app and its benefits, please go to tinyurl.com/3kws7xwz.'

print (my_text)

1.Photos and/or documentation appear to support that line items written at PF dimensions have not been deducted by LF of doors, showers/tubs, vanities, cabinets, built-ins/bookcases, etc. Please revise accordingly.

2.Program instructions state, photos in each room listed in the estimate should be taken from corner to corner.  Please provide required photos.  If the required situational parameters are met (per 2/1/21 network communication), YouGoLook (YGL) is an approved option for obtaining the photo(s) without having to return to the loss site. To set up an account, please go to tinyurl.com/8bxii7xv. For more information on the app and its benefits, please go to tinyurl.com/3kws7xwz.